<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LivrosDB - homepage</title>
<link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body>
<h1>LivrosDB</h1>
<hr>
&nbsp;
<div>
<a class="botoes" href="/Utilizador/Login">Login</a>
<a class="botoes" href="/Utilizador/Registar">Registar</a>
<a class="botoes" href="/Utilizador/Editar">Editar</a>
</div>
&nbsp;
<hr>
&nbsp;
<div>
<a class="botoes" href="/Livros/Lista">Ver Livros</a>
<a class="botoes" href="/Livros/Adicionar">Adicionar Livro</a>
</div>
</body>
</html>